In [1]:
import selenium

In [2]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [5]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32.zip\chromedriver.exe")

we have to connect webdriver with webserver and the automated chrome is opened

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
design=driver.find_element(By.CLASS_NAME,'suggestor-input ')
design.send_keys('Data Analyst')

In [6]:
loca=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
loca.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [9]:
titles=[]
tit=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in tit[0:10]:
    titles.append(i.text)
titles

['Data Analyst',
 'Urgent opening For Data Analyst/Business Analyst For Bangalore locatio',
 'STAFF DATA ANALYST',
 'Senior Manager Data Analyst',
 'Senior Data Analyst',
 'Data Analyst | Purchase Order | Sales Order | Jayanagar | Bangalore',
 'Data Analyst @ Muthoot Finance - Bangalore',
 'TATA Croma - Data Analyst - Mumbai / Bangalore',
 'Data Analyst',
 'Senior Data Analyst']

In [10]:
location=[]
loc=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc[0:10]:
    location.append(i.text)
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(5th Block Jayanagar)',
 'Bangalore/Bengaluru(Lingarajapuram)',
 'Hybrid - Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [11]:
name=[]
comp=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp[0:10]:
    name.append(i.text)
name

['Namdhari Seeds',
 'Netscribes',
 'Walmart',
 'Born Commerce',
 'Walmart',
 'Inspiration Manpower Consultancy',
 'Muthoot Finance',
 'Croma',
 'Capco',
 'Walmart']

In [12]:
experince=[]
exp=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp[0:10]:
    experince.append(i.text)
experince

['0-2 Yrs',
 '2-4 Yrs',
 '5-6 Yrs',
 '8-12 Yrs',
 '4-7 Yrs',
 '4-8 Yrs',
 '4-9 Yrs',
 '3-6 Yrs',
 '8-12 Yrs',
 '2-6 Yrs']

In [15]:
print(len(experince),len(location),len(name),len(titles))

10 10 10 10

In [16]:
df=pd.DataFrame({'titles':titles,'names':name,'experience':experince,'location':location})

In [17]:
df

,titles,names,experience,location
0,Data Analyst,Namdhari Seeds,0-2 Yrs,Bangalore/Bengaluru
1,Urgent opening For Data Analyst/Business Analy...,Netscribes,2-4 Yrs,Bangalore/Bengaluru
2,STAFF DATA ANALYST,Walmart,5-6 Yrs,Bangalore/Bengaluru
3,Senior Manager Data Analyst,Born Commerce,8-12 Yrs,Hybrid - Bangalore/Bengaluru
4,Senior Data Analyst,Walmart,4-7 Yrs,Bangalore/Bengaluru
5,Data Analyst | Purchase Order | Sales Order | ...,Inspiration Manpower Consultancy,4-8 Yrs,Bangalore/Bengaluru(5th Block Jayanagar)
6,Data Analyst @ Muthoot Finance - Bangalore,Muthoot Finance,4-9 Yrs,Bangalore/Bengaluru(Lingarajapuram)
7,TATA Croma - Data Analyst - Mumbai / Bangalore,Croma,3-6 Yrs,"Hybrid - Bangalore/Bengaluru, Mumbai"
8,Data Analyst,Capco,8-12 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst,Walmart,2-6 Yrs,Bangalore/Bengaluru

question 2

In [18]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [19]:
driver.get('https://www.naukri.com/')

In [20]:
design=driver.find_element(By.CLASS_NAME,'suggestor-input ')
design.send_keys('Data Scientist')

In [21]:
loca=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
loca.send_keys('Bangalore')

In [22]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [23]:
titles=[]
tit=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in tit[0:10]:
    titles.append(i.text)
titles

['Lead Data Scientist',
 'Analystics & Modeling Specialist',
 'Data Scientist',
 'Data Scientist - NLP (looking For early joiners)',
 'DATA SCIENTIST-1',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist Iii',
 'Data Scientist (Mlops) Iii']

In [24]:
location=[]
loc=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc[0:10]:
    location.append(i.text)
location

['Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Chennai, Mumbai (All Areas)',
 'Temp. WFH - Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [25]:
print(len(location))

10

In [26]:
name=[]
comp=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp[0:10]:
    name.append(i.text)
name

['Birlasoft',
 'Accenture',
 'Birlasoft',
 'Wipro',
 'Walmart',
 'Mindtree',
 'Baker Hughes',
 'Walmart',
 'Walmart',
 'Walmart']

In [27]:
df=pd.DataFrame({'titles':titles,'names':name,'location':location})

In [28]:
df

,titles,names,location
0,Lead Data Scientist,Birlasoft,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
1,Analystics & Modeling Specialist,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
2,Data Scientist,Birlasoft,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad..."
3,Data Scientist - NLP (looking For early joiners),Wipro,"Temp. WFH - Bangalore/Bengaluru, Pune, Chennai"
4,DATA SCIENTIST-1,Walmart,Bangalore/Bengaluru
5,Data Scientist,Mindtree,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ..."
6,Senior Data Scientist,Baker Hughes,"Bangalore/Bengaluru, Mumbai"
7,Data Scientist,Walmart,Bangalore/Bengaluru
8,Data Scientist Iii,Walmart,Bangalore/Bengaluru
9,Data Scientist (Mlops) Iii,Walmart,Bangalore/Bengaluru

question 3

In [6]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [7]:
driver.get('https://www.naukri.com/')

In [8]:
design=driver.find_element(By.CLASS_NAME,'suggestor-input ')
design.send_keys('Data Scientist')

In [9]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [18]:
salfilt=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')

In [20]:
salfilt.click()

In [28]:
filt=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[1]/div[2]/div[3]/label/i')

In [29]:
filt.click()

In [30]:
titles=[]
tit=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in tit[0:10]:
    titles.append(i.text)
titles

['Artificial Intelligence/Computer Vision Engineer - Machine Learning',
 'Modeler',
 'Data Activation Specialist - Adobe Target',
 'Data Scientist - Engine Algorithm',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Opening For Jr. Data Scientist with Tatras Data For Delhi location',
 'Data Scientist',
 'Data Scientist']

In [ ]:
//a[@class="subTitle ellipsis fleft"]

In [31]:
name=[]
comp=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp[0:10]:
    name.append(i.text)
name

['Vicara',
 'Resource Access Management Solutions Pvt. Ltd.',
 'Okda Solutions',
 'Primo Hiring',
 'Navikenz India',
 'NGI Ventures',
 'torcai digital media',
 'Tatras Data Services',
 'Americana Restaurants (india)',
 'Alliance Recruitment Agency']

In [32]:
location=[]
loc=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc[0:10]:
    location.append(i.text)
location

['Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Noida',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Noida',
 'Temp. WFH - Noida',
 'Dehradun, Hyderabad/Secunderabad, Gurgaon/Gurugram',
 'Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida']

In [33]:
experince=[]
exp=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp[0:10]:
    experince.append(i.text)
experince

['1-3 Yrs',
 '3-7 Yrs',
 '7-10 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '2-7 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '3-4 Yrs']

In [34]:
print(len(experince),len(location),len(name),len(titles))

10 10 10 10

In [35]:
fd=pd.DataFrame({'titles':titles,'names':name,'experience':experince,'location':location})

In [36]:
fd

,titles,names,experience,location
0,Artificial Intelligence/Computer Vision Engine...,Vicara,1-3 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
1,Modeler,Resource Access Management Solutions Pvt. Ltd.,3-7 Yrs,Noida
2,Data Activation Specialist - Adobe Target,Okda Solutions,7-10 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
3,Data Scientist - Engine Algorithm,Primo Hiring,1-3 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
4,Associate Data Scientist,Navikenz India,3-8 Yrs,Noida
5,Data Scientist,NGI Ventures,1-5 Yrs,Temp. WFH - Noida
6,Data Scientist,torcai digital media,2-7 Yrs,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru..."
7,Opening For Jr. Data Scientist with Tatras Dat...,Tatras Data Services,2-4 Yrs,Delhi / NCR
8,Data Scientist,Americana Restaurants (india),3-8 Yrs,Gurgaon/Gurugram
9,Data Scientist,Alliance Recruitment Agency,3-4 Yrs,Noida

question 4

In [20]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32.zip\chromedriver.exe")

automated chrome window opened

In [21]:
driver.get('https://www.flipkart.com/')

In [22]:
insert=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')

In [23]:
insert.send_keys('sunglasses')

In [24]:
search=driver.find_element(By.CLASS_NAME,'_34RNph')
search.click()

In [26]:
name=[]
comp=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in comp:
    name.append(i.text)
name

['PC STAR',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'SHAAH COLLECTIONS',
 'DAHAAZIL',
 'Singco India',
 'Fastrack',
 'SUNBEE',
 'Fastrack',
 'VINCENT CHASE',
 'PIRASO',
 'PHENOMENAL',
 'New Specs',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'Fastrack',
 'Elligator',
 'PC STAR',
 'PIRASO',
 'Sewell',
 'kingsunglasses',
 'Resist',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Elligator',
 'IZAAN MART',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'PC STAR',
 'Fastrack',
 'SUNBEE',
 'Fastrack',
 'PC STAR',
 'Fastrack',
 'Fastrack',
 'GANSTA',
 'CART2DEAL']

In [27]:
price=[]
p=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in p:
    price.append(i.text)
print(len(price))

40

In [28]:
urls=[]
u=driver.find_elements(By.XPATH,'//a[@class="_2UzuFa"]')
for i in u:
    urls.append(i.get_attribute('href'))
print(len(urls))

40

In [29]:
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

scrapping data for second page

In [30]:
name=[]
comp=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in comp:
    name.append(i.text)
name

['SUNBEE',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'GANSTA',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Rich Club',
 'Fastrack',
 'SRPM',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Rich Club',
 'ROZZETTA CRAFT',
 'Satyam Kraft',
 'Fastrack',
 'kingsunglasses',
 'Singco India',
 'LIZA ANGEL',
 'SRPM',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROZZETTA CRAFT',
 'LIZA ANGEL',
 'PROVOGUE',
 'VINCENT CHASE',
 'Elligator',
 'kingsunglasses',
 'IZAAN MART',
 'PROVOGUE',
 'IDEE',
 'VINCENT CHASE',
 'PC STAR',
 'Elligator',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT']

In [32]:
price=[]
p=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in p:
    price.append(i.text)
price

['₹185',
 '₹649',
 '₹329',
 '₹471',
 '₹299',
 '₹909',
 '₹649',
 '₹391',
 '₹353',
 '₹629',
 '₹216',
 '₹649',
 '₹499',
 '₹649',
 '₹258',
 '₹423',
 '₹299',
 '₹566',
 '₹213',
 '₹299',
 '₹152',
 '₹238',
 '₹169',
 '₹445',
 '₹519',
 '₹339',
 '₹182',
 '₹629',
 '₹849',
 '₹216',
 '₹255',
 '₹450',
 '₹559',
 '₹1,179',
 '₹999',
 '₹229',
 '₹220',
 '₹575',
 '₹1,039',
 '₹521']

In [34]:
urls=[]
u=driver.find_elements(By.XPATH,'//a[@class="_2UzuFa"]')
for i in u:
    urls.append(i.get_attribute('href'))
urls

['https://www.flipkart.com/sunbee-cat-eye-sunglasses/p/itmd00a36e592201?pid=SGLGJXWPSSFFMMX7&lid=LSTSGLGJXWPSSFFMMX7SVLYVV&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_41&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLGJXWPSSFFMMX7.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm4297d4c05fa6c?pid=SGLF79DQWYPMFYVY&lid=LSTSGLF79DQWYPMFYVYXBJEXX&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_42&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLF79DQWYPMFYVY.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/piraso-aviator-sunglasses/p/itm405062704fcc0?pid=SGLFTYY5NWNKSC64&lid=LSTSGLFTYY5NWNKSC64YLGIVW&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_43&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFTYY5NWNKSC64.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/rozzetta-craft-sports-wrap-around-sunglasses/p/itm10af50b049674?pid=SGLG9AFQF2HNHK7A&lid=LSTSGLG9AFQF2HNHK7AIIXH1I&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_44&otracker=search&otracker1=search&fm=Search&iid=en_Zk4JzvrV%2BRR9WadHr2naIbdic6P16%2FEkucVRXSFaJ0mGfFOcBNr9n5C3ogqWZ1wzl40KfTf31kyJOLvyxSNveg%3D%3D&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/gansta-aviator-sunglasses/p/itmf7hmfp5r8hcdb?pid=SGLF7HGZKHHSTQ8H&lid=LSTSGLF7HGZKHHSTQ8H5VK4WX&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_45&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLF7HGZKHHSTQ8H.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-aviator-sunglasses/p/itmd86675766ab22?pid=SGLFKYGH5RNKQFHZ&lid=LSTSGLFKYGH5RNKQFHZETUIWB&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_46&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFKYGH5RNKQFHZ.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/rozzetta-craft-aviator-sunglasses/p/itmc9526f7e510e3?pid=SGLGFXSGU9KXRFRX&lid=LSTSGLGFXSGU9KXRFRXTSVYTJ&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_47&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLGFXSGU9KXRFRX.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/rozzetta-craft-round-sunglasses/p/itm992d1d1202834?pid=SGLFMG6DHUPTH2VB&lid=LSTSGLFMG6DHUPTH2VBWQRQLV&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_48&otracker=search&otracker1=search&fm=Search&iid=en_Zk4JzvrV%2BRR9WadHr2naIbdic6P16%2FEkucVRXSFaJ0lPowif7Cs6j85%2F2GqQKHEFZc6fi9OtL3z1pudJi2TsiA%3D%3D&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/rich-club-round-sunglasses/p/itm027470f537cc5?pid=SGLFF2YC9EPWGHQS&lid=LSTSGLFF2YC9EPWGHQSBIJO0K&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_49&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFF2YC9EPWGHQS.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm00812e1c3aed5?pid=SGLFG94CMSMFCMPH&lid=LSTSGLFG94CMSMFCMPHRHB659&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_50&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFG94CMSMFCMPH.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/srpm-wayfarer-sunglasses/p/itmaf19ae5820c06?pid=SGLFHQPHY2GZ4HFP&lid=LSTSGLFHQPHY2GZ4HFP0AZWKY&marketplace=FLIPKART&q=sunglasses&store=26x&spotlightTagId=BestsellerId_26x&srno=s_2_51&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFHQPHY2GZ4HFP.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/rozzetta-craft-aviator-sunglasses/p/itm77c49bbb1ddbf?pid=SGLG9FDBZPZNXHJW&lid=LSTSGLG9FDBZPZNXHJWBMKKV7&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_52&otracker=search&otracker1=search&fm=Search&iid=en_Zk4JzvrV%2BRR9WadHr2naIbdic6P16%2FEkucVRXSFaJ0kp%2F6Rpa%2BtqIyW9%2FoAc0ZPVuuDPp8BLehXUB28QwuSqtg%3D%3D&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/rozzetta-craft-retro-square-sunglasses/p/itmf248ba5b3a895?pid=SGLFZFZNAQNZHYB7&lid=LSTSGLFZFZNAQNZHYB7GZ3YO5&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_53&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFZFZNAQNZHYB7.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itme89404d9548ff?pid=SGLF79DQWCWEFUNR&lid=LSTSGLF79DQWCWEFUNRINKNYY&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_54&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLF79DQWCWEFUNR.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/rich-club-retro-square-sunglasses/p/itm36b32b2852761?pid=SGLGDVVBXSTKDRUQ&lid=LSTSGLGDVVBXSTKDRUQ2DLC9T&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_55&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLGDVVBXSTKDRUQ.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/rozzetta-craft-rectangular-sunglasses/p/itm7c7f15b2328e4?pid=SGLGB7UVGKERNGEH&lid=LSTSGLGB7UVGKERNGEH4JURBR&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_56&otracker=search&otracker1=search&fm=Search&iid=en_Zk4JzvrV%2BRR9WadHr2naIbdic6P16%2FEkucVRXSFaJ0k5VkZIygf%2Bh0XDq13j1DuUflLtBYslQ7Cx%2Ff2rW%2FtnQQ%3D%3D&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/satyam-kraft-spectacle-sunglasses/p/itm0409a299fe9bb?pid=SGLGDGHKFBRECVRE&lid=LSTSGLGDGHKFBRECVRED4OLYN&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_57&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLGDGHKFBRECVRE.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm09b8a67de159a?pid=SGLFG94CXYTBH8XR&lid=LSTSGLFG94CXYTBH8XRIFJZCU&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_58&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFG94CXYTBH8XR.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/kingsunglasses-wayfarer-sunglasses/p/itmb42161fdc7626?pid=SGLFTUBUZUNHHWPQ&lid=LSTSGLFTUBUZUNHHWPQ3RZ2KW&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_59&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFTUBUZUNHHWPQ.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/singco-india-wrap-around-retro-square-over-sized-sunglasses/p/itm6903a4c8e406a?pid=SGLFUKACGVUQMUYS&lid=LSTSGLFUKACGVUQMUYSSIYPFI&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_60&otracker=search&otracker1=search&fm=Search&iid=en_Zk4JzvrV%2BRR9WadHr2naIbdic6P16%2FEkucVRXSFaJ0mdYM8SXORfTCLAm0nZoSJm2rHsNe35g9nxHLhK5vmtlw%3D%3D&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/liza-angel-wayfarer-sunglasses/p/itmfezf8zwg9ahrj?pid=SGLFENH5NZJHUNWX&lid=LSTSGLFENH5NZJHUNWXMIKJMU&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_61&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFENH5NZJHUNWX.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/srpm-round-sunglasses/p/itm93366f6dffae4?pid=SGLG6SHKDUSKWP2Y&lid=LSTSGLG6SHKDUSKWP2YQMLKXB&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_62&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLG6SHKDUSKWP2Y.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/kingsunglasses-cat-eye-sunglasses/p/itm58121bafd099b?pid=SGLGGV5HBAGM7VXF&lid=LSTSGLGGV5HBAGM7VXFQKVAAB&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_63&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLGGV5HBAGM7VXF.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/rozzetta-craft-aviator-sunglasses/p/itm8e1c4538ad4fe?pid=SGLGFVM2G3CGZGGW&lid=LSTSGLGFVM2G3CGZGGWYOHENE&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_64&otracker=search&otracker1=search&fm=Search&iid=en_Zk4JzvrV%2BRR9WadHr2naIbdic6P16%2FEkucVRXSFaJ0my%2BTAr9oAOaBs8rVSuXssXypN16nH5nxJVPtji9%2FuJkg%3D%3D&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-rectangular-sunglasses/p/itm8b1e534d867a2?pid=SGLFG94CAT9VHUWH&lid=LSTSGLFG94CAT9VHUWHIQ7HTK&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_65&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFG94CAT9VHUWH.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/rozzetta-craft-butterfly-shield-sunglasses/p/itm274d7a2a36e03?pid=SGLFSG4CECYRH4MF&lid=LSTSGLFSG4CECYRH4MFO6XJKU&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_66&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFSG4CECYRH4MF.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/liza-angel-spectacle-sunglasses/p/itm6af69bbbcf24f?pid=SGLG3EFSZJDJ3YJZ&lid=LSTSGLG3EFSZJDJ3YJZC6L2YG&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_67&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLG3EFSZJDJ3YJZ.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/provogue-rectangular-sunglasses/p/itm1e8e90a7b927d?pid=SGLGHUANBAX5ZDHV&lid=LSTSGLGHUANBAX5ZDHVYSVTDM&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_68&otracker=search&otracker1=search&fm=Search&iid=en_Zk4JzvrV%2BRR9WadHr2naIbdic6P16%2FEkucVRXSFaJ0nuVnLzD6oSqSOouDc7CEkmqNUtENOy48vi5wXgz2cWig%3D%3D&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/vincent-chase-round-sunglasses/p/itmd1a5459d7922e?pid=SGLG8D97CM8TJXKQ&lid=LSTSGLG8D97CM8TJXKQG1G8QR&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_69&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLG8D97CM8TJXKQ.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/elligator-cat-eye-retro-square-wayfarer-sunglasses/p/itmfdbbb6856278f?pid=SGLG9JFSYCUPHSZZ&lid=LSTSGLG9JFSYCUPHSZZZAPXYL&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_70&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLG9JFSYCUPHSZZ.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/kingsunglasses-rectangular-sunglasses/p/itm7a1f2d0b309e9?pid=SGLGYFFNQNFTBBVU&lid=LSTSGLGYFFNQNFTBBVUXSSV7U&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_71&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLGYFFNQNFTBBVU.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/izaan-mart-sports-sunglasses/p/itmfb01c67589037?pid=SGLG9HDMBZBFGM8T&lid=LSTSGLG9HDMBZBFGM8TFZFSMH&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_72&otracker=search&otracker1=search&fm=Search&iid=en_Zk4JzvrV%2BRR9WadHr2naIbdic6P16%2FEkucVRXSFaJ0mz3riLgZzcWjiJJZ%2FAFcVkhDpEhwske4GLhsbKHCKC9g%3D%3D&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/provogue-rectangular-sunglasses/p/itm93e9dcbacd1e8?pid=SGLGGFHQA7WXKXBU&lid=LSTSGLGGFHQA7WXKXBUKYST3X&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_73&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLGGFHQA7WXKXBU.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/idee-wayfarer-sunglasses/p/itmeeef65d199254?pid=SGLG6JBHFECWZHWB&lid=LSTSGLG6JBHFECWZHWBBDD9UE&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_74&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLG6JBHFECWZHWB.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/vincent-chase-lenskart-wayfarer-sunglasses/p/itmbb7848661de72?pid=SGLFU52HZNGH6YAV&lid=LSTSGLFU52HZNGH6YAV9SZ0PT&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_75&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFU52HZNGH6YAV.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/pc-star-rectangular-sunglasses/p/itm8fd0c69d35e4e?pid=SGLFUURFFVJDFRVC&lid=LSTSGLFUURFFVJDFRVCJWYWB8&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_76&otracker=search&otracker1=search&fm=Search&iid=en_Zk4JzvrV%2BRR9WadHr2naIbdic6P16%2FEkucVRXSFaJ0mSNLQyGMwvRPqvX5%2Bk7zrH3p0SPGw4h2yV55%2B20vWJNQ%3D%3D&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/elligator-round-sunglasses/p/itmfhsbqywv36y54?pid=SGLFHRKF5GPR6ZBY&lid=LSTSGLFHRKF5GPR6ZBY1Z1BRU&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_77&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFHRKF5GPR6ZBY.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm90ae8b9ce633b?pid=SGLFHBY3ZHESCSHR&lid=LSTSGLFHBY3ZHESCSHRWHRPJ2&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_78&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFHBY3ZHESCSHR.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-aviator-sunglasses/p/itm047bd71f167bb?pid=SGLFKYGHKP4BXEMH&lid=LSTSGLFKYGHKP4BXEMHPJOINL&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_79&otracker=search&otracker1=search&fm=Search&iid=39a414ea-2331-410e-840b-8be10637d085.SGLFKYGHKP4BXEMH.SEARCH&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/rozzetta-craft-retro-square-sunglasses/p/itm0bc3fe8c86491?pid=SGLGJUJSFR23RJDM&lid=LSTSGLGJUJSFR23RJDMUNQDCC&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_2_80&otracker=search&otracker1=search&fm=Search&iid=en_Zk4JzvrV%2BRR9WadHr2naIbdic6P16%2FEkucVRXSFaJ0mbbcnbW7SY%2B2DRIVTiU5UipR6%2FG777x2dcGxnCi8Cz3w%3D%3D&ppt=sp&ppn=sp&ssid=doyhvk0bb40000001671893538264&qH=2cc465e3eef5bff0']

In [36]:
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

scrapping data for third page

In [40]:
Cname=[]
comp=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in comp[0:20]:
    Cname.append(i.text)
print(len(Cname))

20

In [42]:
price=[]
p=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in p[0:20]:
    price.append(i.text)
print(len(price))

20

# Question 5

In [43]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [47]:
driver.get(driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product)

SyntaxError: EOL while scanning string literal (3808957548.py, line 1)

# question 6

In [49]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [50]:
driver.get('https://www.flipkart.com/')

In [54]:
desig=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
desig.send_keys('sneakers')

In [55]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [57]:
brand=[]
comp=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in comp:
    brand.append(i.text)
print(len(brand))

40

In [62]:
price=[]
p=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in p:
    price.append(i.text)
price

['₹646',
 '₹649',
 '₹359',
 '₹399',
 '₹369',
 '₹498',
 '₹769',
 '₹649',
 '₹539',
 '₹398',
 '₹599',
 '₹499',
 '₹399',
 '₹498',
 '₹439',
 '₹409',
 '₹599',
 '₹581',
 '₹449',
 '₹298',
 '₹581',
 '₹269',
 '₹469',
 '₹485',
 '₹449',
 '₹499',
 '₹478',
 '₹581',
 '₹299',
 '₹359',
 '₹842',
 '₹2,799',
 '₹642',
 '₹449',
 '₹499',
 '₹3,330',
 '₹369',
 '₹824',
 '₹2,249',
 '₹439']

In [64]:
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

second page

In [71]:
brand2=[]
comp=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in comp:
    brand2.append(i.text)
print(len(brand2))

40

In [72]:
price2=[]
p=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in p:
    price2.append(i.text)
price2

['₹646',
 '₹369',
 '₹439',
 '₹769',
 '₹499',
 '₹2,079',
 '₹499',
 '₹449',
 '₹299',
 '₹469',
 '₹581',
 '₹269',
 '₹539',
 '₹539',
 '₹1,799',
 '₹1,799',
 '₹649',
 '₹549',
 '₹499',
 '₹499',
 '₹581',
 '₹599',
 '₹2,699',
 '₹1,299',
 '₹1,699',
 '₹499',
 '₹699',
 '₹494',
 '₹399',
 '₹449',
 '₹499',
 '₹581',
 '₹498',
 '₹499',
 '₹539',
 '₹439',
 '₹699',
 '₹599',
 '₹524',
 '₹489']

third page

In [67]:
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [73]:
brand3=[]
comp=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in comp:
    brand3.append(i.text)
print(len(brand3))

40

In [74]:
price3=[]
p=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in p[0:20]:
    price3.append(i.text)
price3

['₹646',
 '₹369',
 '₹439',
 '₹769',
 '₹499',
 '₹2,079',
 '₹499',
 '₹449',
 '₹299',
 '₹469',
 '₹581',
 '₹269',
 '₹539',
 '₹539',
 '₹1,799',
 '₹1,799',
 '₹649',
 '₹549',
 '₹499',
 '₹499']

question 7

In [12]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [13]:
driver.get('https://www.amazon.in/')

In [14]:
design=driver.find_element(By.ID,'twotabsearchtextbox')
design.send_keys('laptop')

In [15]:
search=driver.find_element(By.ID,'nav-search-submit-button')
search.click()

In [20]:
fil=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[10]/span/a/div/label/i')

In [21]:
fil.click()

In [61]:
brand2=[]
comp=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in comp[0:10]:
    brand2.append(i.text)
brand2

['HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm),OLED,400 nits,UWVA, Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO 2021, 14-eh0024TU',
 'Lenovo ThinkPad X13 Intel Core i7 12th Gen 13.3" WUXGA IPS 300 Nits Antiglare Laptop (16GB RAM/512 GB SSD/Win 11 Pro/FPR/Backlit Keyboard/Villi Black/3Y Premier Support/1.25 kg), 21BNS03K00',
 'Acer Nitro 5 Gaming Laptop Intel core i7 11th Gen (16 GB/ 512 GB SSD/ NVIDIA® GeForce RTX 3050 Ti/ Windows 11 Home/144hz) AN515-57 with 39.6 cm (15.6 inches) IPS Display / 2.2 Kgs',
 'HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB SSD 14 inches Laptop, FHD Micro-Edge Anti-Glare Display/Iris X\x89 Graphics/Backlit KB/B&O Audio/Fingerprint Reader/ Windows 11 Ready/1.41kg, 14-dv0058TU',
 'MSI Titan GT77 12UHS, Intel 12th Gen. Core i7 - 12800HX 17.3" UHD Gaming Laptop (DDR5 32 GB*2/2TB NVMe PCIe Gen4x4 SSD/Windows 11 Home/RTX 3080Ti, GDDR6 16GB Grpahics/Black/3.3 Kg), 9S7-17Q111-202',
 'Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 16"(40.64cm) WUXGA IPS 165Hz Gaming Laptop (16GB/512GB SSD/Win 11/Office 2021/NVIDIA RTX 3060 6GB/Alexa/3 Month Game Pass/Onyx Grey/2.6Kg),82SA00B2IN',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/256 GB SSD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'HP Victus Gaming Latest 12th Gen Intel Core i7 15.6 inch(39.6 cm) FHD Gaming Laptop (8GB RAM/512GB SSD/RTX 3050 4GB Graphics/144Hz/9ms Response Time/Win 11/MSO/BL KB/B&O/Alexa/Xbox Pass),15-fa0073TX',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU']

In [54]:
price=[]
comp=driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in comp[0:10]:
    price.append(i.text)
price

['₹94,045',
 '₹1,65,990',
 '₹82,500',
 '₹92,500',
 '₹4,82,990',
 '₹1,04,990',
 '₹24,999',
 '₹82,490',
 '₹84,990',
 '₹87,990']

In [52]:
rate=[]
r=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in r[0:10]:
    rate.append(i.text)
rate

['(4.0)',
 '(4.0)',
 '(4.4)',
 '(5.0)',
 '(4.3)',
 '(3.3)',
 '(4.3)',
 '(4.3)',
 '(4.3)',
 '(2.5)']

In [57]:
print(len(rate),len(price),len(brand2))

10 10 10

In [60]:
df=pd.DataFrame('brand':brand2,'prices':price,'rating':rate)

SyntaxError: invalid syntax (1472426808.py, line 1)

In [64]:
df=pd.DataFrame({'brand':brand2,'price':price,'rating':rate})

In [65]:
df

                                               brand      price rating
0  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    ₹94,045  (4.0)
1  Lenovo ThinkPad X13 Intel Core i7 12th Gen 13....  ₹1,65,990  (4.0)
2  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...    ₹82,500  (4.4)
3  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...    ₹92,500  (5.0)
4  MSI Titan GT77 12UHS, Intel 12th Gen. Core i7 ...  ₹4,82,990  (4.3)
5  Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...  ₹1,04,990  (3.3)
6  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...    ₹24,999  (4.3)
7  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    ₹82,490  (4.3)
8  HP Victus Gaming Latest 12th Gen Intel Core i7...    ₹84,990  (4.3)
9  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    ₹87,990  (2.5)

# question 8

In [3]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [4]:
driver.get('https://www.azquotes.com/')

scrapping top quotes

In [6]:
title=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
title.click()

In [13]:
que=[]
s=0
e=9
for i in range(s,e):
    quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes:
        que.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(4)
print(len(que))

900

In [14]:
aut=[]
s=0
e=9
for i in range(s,e):
    quotes=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in quotes:
        aut.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(4)
print(len(aut))

900

In [17]:
t=[]
s=0
e=9
for i in range(s,e):
    quotes=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in quotes:
        t.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(4)
print(len(t))

900

In [19]:
df=pd.DataFrame({'quotes':que,'types':t,'author':aut})

In [20]:
df

,quotes,types,author
0,The essence of strategy is choosing what not t...,"Essence, Deep Thought, Transcendentalism",Michael Porter
1,One cannot and must not try to erase the past ...,"Inspiration, Past, Trying",Golda Meir
2,Patriotism means to stand by the country. It d...,"Country, Peace, War",Theodore Roosevelt
3,Death is something inevitable. When a man has ...,"Inspirational, Motivational, Death",Nelson Mandela
4,You have to love a nation that celebrates its ...,"4th Of July, Food, Patriotic",Erma Bombeck
...,...,...,...
895,To love means loving the unlovable. To forgive...,"Love, Inspirational, Success",Gilbert K. Chesterton
896,"If you really want to do something, you'll fin...","Inspirational, Motivational, Success",Jim Rohn
897,Be brave. Take risks. Nothing can substitute e...,"Encouraging, Courage, Inspiration",Paulo Coelho
898,It is neither wealth nor splendor; but tranqui...,"Life, Happiness, Work",Thomas Jefferson
899,A thousand words will not leave so deep an imp...,"Inspirational, Inspiring, Positivity",Henrik Ibsen

question 9

In [21]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedriver_win32.zip\chromedriver.exe")

In [22]:
driver.get('https://www.jagranjosh.com')

In [23]:
gk=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [24]:
lis=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
lis.click()

In [29]:
titles=[]
tit=driver.find_elements(By.TAG_NAME,'p')
for i in tit:
    titles.append(i.text)
print(titles)

['List of all Prime Ministers of India: Narendra Modi is the current and 14th Prime Minister of India. He would become the fourth Indian Prime Minister to serve two consecutive terms on the post and would be the first non-Congress Prime Minister of India who would complete two consecutive terms. The Prime Minister of India is the head of the government of the Republic of India. Executive authority is vested in the Prime Minister and their chosen Council of Ministers, though the President of India is the Constitutional, nominal and ceremonial head of the State. ', 'In this article, we have mentioned the list of all the Prime Ministers of India along with their term starting from 1947 to 2022. ', 'READ |', 'List of Movies to Learn English: Watch These English Movies To Learn The Language Quickly!', 'Yogi Adityanath Cabinet 2.0: Check List of Ministers, Ministers of State (Independent Charge), and Ministers of State', 'List of all the Prime Ministers of India from 1947-2021', 'S.N.', 'Name', 'Born-Dead', 'Term of office', 'Remark', '1.', 'Jawahar Lal Nehru', '(1889–1964)', '15 August 1947 to 27 May 1964', '16 years, 286 days', 'The first prime minister of India and the longest-serving PM of India, the first to die in office.', '2.', 'Gulzarilal Nanda (Acting)', '(1898-1998)', '27 May 1964 to 9 June 1964,', '13 days', 'First acting PM of India', '3.', 'Lal Bahadur Shastri', '(1904–1966)', '9 June 1964 to 11 January 1966', '1 year, 216 days', "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965", '4. ', 'Gulzari Lal Nanda  (Acting)', '(1898-1998)', '11 January 1966 to 24 January 1966', '13 days', '-', '5.', 'Indira Gandhi', '(1917–1984)', '24 January 1966 to 24 March 1977', '11 years, 59 days', 'First female Prime Minister of India', '6.', 'Morarji Desai', '(1896–1995)', '24 March 1977 to  28 July 1979 ', '2 year, 126 days', 'Oldest to become PM (81 years old) and first to resign from office', '7.', 'Charan Singh', '(1902–1987)', '28 July 1979 to 14 January 1980', '170 days', 'Only PM who did not face the Parliament', '8.', 'Indira Gandhi', '(1917–1984)', '14 January 1980 to 31 October 1984', '4 years, 291 days', 'The first lady who served as PM for the second term', '9.', 'Rajiv Gandhi', '(1944–1991)', '31 October 1984 to 2 December 1989', '5 years, 32 days', 'Youngest to become PM (40 years old)', '10.', 'V. P. Singh', '(1931–2008)', '2 December 1989 to 10 November 1990', '343 days', 'First PM to step down after a vote of no confidence', '11.', 'Chandra Shekhar', '(1927–2007)', '10 November 1990 to 21 June 1991', '223 days', 'He belongs to  Samajwadi Janata Party', '12.', 'P. V. Narasimha Rao', '(1921–2004)', '21 June 1991 to 16 May 1996', '4 years, 330 days', 'First PM from south India', '13.', 'Atal Bihari Vajpayee', '(1924- 2018)', '16 May 1996 to 1 June 1996', '16 days', 'PM for shortest tenure', '14.', 'H. D. Deve Gowda', '(born 1933)', '1 June 1996 to 21 April 1997', '324 days', 'He belongs to  Janata Dal', '15.', 'Inder Kumar Gujral', '(1919–2012)', '21 April 1997 to 19 March 1998 ', '332 days', '------', '16.', 'Atal Bihari Vajpayee', '(1924-2018)', '19 March 1998 to 22 May 2004 ', '6 years, 64 days', ' The first non-congress PM who completed a full term as PM', '17.', 'Manmohan Singh', '(born 1932)', '22 May 2004 to 26 May 2014   ', '10 years, 4 days', ' First Sikh PM', '18.', 'Narendra Modi', '(born 1950)', '26 May 2014 - Present', '4th Prime Minister of India who served two consecutive tenures', 'Article 75 of the Indian Constitution envisages that there will be a Prime Minister who shall be appointed by the President of India. Prime Minister is the leader of the Cabinet Ministers. The main executive powers of the government are vested in the Prime Minister while the President is the nominal head of the State. Article 78 of the Indian Constitution specifies the duties of the Prime Minister of India. He acts as a link between the President and Cabinet while discharging his duties.', 'Prime Minister of India determines the dates of its meetings and programmes for the Parliament session. He also decides when the House has to be prorogued or dissolved. As a chief spokesman, he makes the announcement of principal government policies and answers questions.', 'Prime Minister (PM) recommends President regarding the appointment of many officers, he allocates and reshuffles various portfolios among Ministers, he presides over the meeting of the Council of Ministers and influences their decisions. The Prime Minister can ask any member to resign or recommend the President to remove any Minister.', '', 'Also Read the following:', '']

In [ ]:
-------completed-----